body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.field-validation-error {
    color: red
}


.input-validation-error {
    border: 2px solid red;
}

.car-tiles {
    border: 2px;
    box-shadow: 2px 2px 4px #000000;
    max-width: 600px;
    max-height: 400px;
    min-height: 300px;
    min-width: 600px;
    border-radius: 6px;
    margin-top: 8px;
    padding: 0px;
}

.car-tiles-image {
    height: 300px;
    width: 250px;
    object-fit: cover;
    vertical-align: central;
}


.car-tiles-row {
    margin: 0;
    padding: 0;
}
.car-tiles-text {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.car-tiles-text-bold {
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.car-tiles-buttons-arrangement {
    text-align: right;
    vertical-align: middle;
    height: 40px;
    vertical-align: text-top;
}

.car-tiles-holder-table {
    padding: 3px;
}

.car-tiles-holder-row{
    margin: 3px;
}

.car-tiles-holder-data {
    padding: 0 15px;
}

.div-margin-top-bottom{
    margin-bottom: 20px;
    margin-top: 20px;
}

input, select, textarea{
    width:100%;
}

.width50{
    width:50% !important;
}

.width20 {
    width: 20% !important;
}

.width30 {
    width: 30% !important;
}