@model AutoApplication.Models.Auto

@{
    ViewBag.Title = "AutoDisplay";
}

<h2>AutoDisplay</h2>
<h2>@Model.AutoID</h2>

<h2>@Model.AutoMaker</h2>

<h2>@Model.AutoModelName</h2>

<h2>@Model.AutoModelYear</h2>