
@{
    ViewBag.Title = "AdminHomeView";
}

<h2>AdminHomeView</h2>

<table class="table">
    <tbody>
        <tr>
            <td>
                <div class="card-group">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="https://urldefense.com/v3/__http://placehold.it/400x200__;!!Ph-vUwwL!8ndEF3VuQi-wLxPFfhjD8VQj-I9TcMYYOzrq2e7I-CybxSzP0hRxfAVYrYpzmoD07HhzZK8$ " alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Manage Inventory</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="card-group">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="https://urldefense.com/v3/__http://placehold.it/400x200__;!!Ph-vUwwL!8ndEF3VuQi-wLxPFfhjD8VQj-I9TcMYYOzrq2e7I-CybxSzP0hRxfAVYrYpzmoD07HhzZK8$ " alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Manage Inventory</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card-group">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="https://urldefense.com/v3/__http://placehold.it/400x200__;!!Ph-vUwwL!8ndEF3VuQi-wLxPFfhjD8VQj-I9TcMYYOzrq2e7I-CybxSzP0hRxfAVYrYpzmoD07HhzZK8$ " alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Manage Inventory</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="card-group">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="https://urldefense.com/v3/__http://placehold.it/400x200__;!!Ph-vUwwL!8ndEF3VuQi-wLxPFfhjD8VQj-I9TcMYYOzrq2e7I-CybxSzP0hRxfAVYrYpzmoD07HhzZK8$ " alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Manage Inventory</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

    </tbody>
</table>