
@{
    ViewBag.Title = "EmployeeHomeView";
}

<table class="table">
    <tbody>
        <tr>
            <td>
                <div class="card-group">
                    <div class="card">
                        <a href="/Auto">
                            <img class="card-img-top" src="~/Resources/Images/SaleACar.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Make A Sale</h5>
                            <p class="card-text">
                                You will be able to make a sale here by:
                                <ul>
                                    <li>Find and Select the Car The user Likes</li>
                                    <li>Fill out customer details</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="card-group" name="Salary Report">
                    <div class="card">
                        <a href="/Report">
                            <img class="card-img-top" src="~/Resources/Images/Salary.png" alt="Card image cap">
                        </a>
                        <div class="card-body">

                            <br />
                            <h5 class="card-title">Salary</h5>
                            <p class="card-text" style="margin-bottom: 2cm">
                                You will be able to make a View Your Compensation here.
                            </p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card-group">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="~/Resources/Images/ChangeProfile.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Edit Profile</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

